body {
	background: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
	font-weight: normal;
	white-space: nowrap;
	margin: 0 5px;
	padding: 0;
}

div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}